<%- include('partials/header') %>

<div class="container">
  <div class="text-center">
    <h1>Pedigree Browser<br><small>Sample app for the FamilySearch JS Lite SDK</small></h1>
    <a href="/signin" class="btn btn-primary btn-lg">Sign In</a>
  </div>
</div>
  
<%- include('partials/footer') %>