body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  background-color: #347a34;
  color: white;
}

.container {
  max-width: 1024px;
  margin: auto;
}